@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.geoHeading {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.geo-content1, .geo-content2, .geo-content3, .geo-content4, .geo-content5 {
    text-align: center;
    margin-bottom: 3%;
    line-height: 2;
}

.geo-content1{
    line-height: 2.5;
}

.geo-content4 div {
    margin-top: 2%;
}

.geo-content1, .geo-content2 {
    display: flex;
    align-items: center;
}

.geo-img1 {
    float: left;
    width: 25%;
}

.geo-content4 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}