@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.entire_geo {
    background-image: url('../Components/images/old_Look3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}



.geoHeading {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.geo-content1, .geo-content2, .geo-content3, .geo-content4, .geo-content5 {
    text-align: center;
    margin-bottom: 3%;
    line-height: 2;
}

.geo-content1 {
    line-height: 1.5;
}

.geo-img1 {
    float: left;
    width: 25%;
}